
header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    color: gold;
}

.view {
    background-size: contain;
    height: 400px;
    border: solid;
}

.view2 {
    width: 400px;
}

.type {

    height: 200px;
}

.row {
    padding: 10px;
}

.sub {
    border: solid;
    height: 50%;
}

.view img {
    max-height:350px;
    max-width: 1000px;
}
